
 <!---<h1 class="name"  >{{name}} {{childAge}}</h1>
 <h1 id="name1">Age : {{childAge}}</h1>
 <input type="text" id= "input1" [(ngModel)]="outerAge" />
 <button #inputbutton (click)="new()"  (dblclick)="new2()">click</button>
 <hr>
<div class="child">
    <p>child</p>
    <my-info [childAge]="outerAge" (childEvent)="messageFromChild($event)">
        loading...
    </my-info> 
</div> 




<label>Name: </label>
<input type="text" #nameinput [(ngModel)]="nameinput.value" />
<br/><label>Age:   </label>
<input type="text" #Ageinput [(ngModel)]="Ageinput.value" />
<h1 id="name2">My country : {{childdata}}</h1>
<hr>
<my-info [name]="nameinput.value"
[age]="Ageinput.value"
(childEvent)="childdata=$event">
    loading...
</my-info> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>DevDose</title>


  
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar navbar-expand-sm navbar-expand-md navbar-expand-xl navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]='["/"]'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/cours"]'>Cours</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/about"]' >About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
        
<div class="row-2">
  <router-outlet></router-outlet>
</div>

    <!-- Footer -->
    <hr />
    <footer class="panel panel-default">
        <div class="panel-body text-center">
            &copy; DevDose.com
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
  </body>
</html>