<h1 id="title1"> Login:</h1>
    
    <hr/> <div class="row">
<form novalidate
 #studentForm="ngForm" (ngSubmit)="setSubmit(studentForm.value)">
<div class="from-group">
<label> Student Name:</label>
<br/>
<input [(ngModel)]="userData.name"
required minlength="8"
type="text" #nameinput="ngModel"  name="name" class="col-8"/>
<div *ngIf="nameinput.errors && (nameinput.dirty || nameinput.touched)" class="alert">
    <h4 [hidden]="!nameinput.errors.required" >Name is required</h4>
    <h4 [hidden]="!nameinput.errors.minlength">Name must be more then 8 chars</h4>
</div>
</div>
<br/>
<div class="from-group">
<label> Email:</label>
<br/>
<input pattern= '^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
required
type="text" #userEmail="ngModel" [(ngModel)]="userData.Email" name="email" class="col-8"/>
<div *ngIf="userEmail.errors && (userEmail.dirty || userEmail.touched)" class="alert-Email">
    <h4 [hidden]="!userEmail.errors.required" >Email is required</h4>
    <h4 [hidden]="!userEmail.errors.pattern">Please Enter Valid Email</h4>
</div>
</div>
<br/>
<div ngModelGroup="cour-work">
<div class="from-group">
<label> Class Work:</label>
<br/>
<input type="text" [(ngModel)]="userData.Class_work" name="class work" class="col-8"/>
</div>
<br/>
<div class="from-group">
<label> Lab Work:</label>
<br/>
<input type="text" [(ngModel)]="userData.Lab_work" name="lab work" class="col-8"/>
</div>
</div>
<br/>
<hr/>
<div class="from-group">
<input [disabled]="!studentForm.form.valid" 
type="submit"  name="submit" class="form-control" value="OK"/>
</div>
</form> <div>
<h1 class="title1">UserData</h1>
<h3>username: {{userData.name}}</h3>
<h3>Email: {{userData.Email}}</h3>
<h3>Class_work: {{userData.Class_work}}</h3>
<h3>Lab_work: {{userData.Lab_work}}</h3>
</div></div>  
    